.food-item {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.food-item-image {
  width: 160px;
  aspect-ratio: 14/9;
  margin-right: 2%;
  border-radius: 8px;
}
.food-name {
  color: #334155;
  letter-spacing: 1px;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 6px;
}

.cost-container {
  color: #334155;
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}
.food-cost {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #334155;
}
.rating-container {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}
.star {
  color: #ffcc00;
  width: 15px;
  height: 17px;
  margin-right: 2px;
}
.rating {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #0a1f44;
}

.add-button {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  color: #ffa412;
  background-color: transparent;
  border: 2px solid #ffa412;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  padding: 5px;
  padding-right: 8px;
  padding-left: 8px;
  width: 100px;
}

.cart-quantity-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0px;
}

.quantity-controller-button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.quantity-controller-icon {
  color: #616e7c;
  width: 16px;
  height: 16px;
}
.cart-quantity {
  color: #616e7c;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  margin-left: 12px;
  margin-right: 12px;
}
@media screen and (min-width: 768px) {
  .food-item {
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  .food-item {
    width: 30%;
  }
}
